@import "tailwindcss";

/* Custom scrollbar */
::-webkit-scrollbar {
  @apply h-2 w-2;
}

::-webkit-scrollbar-track {
  @apply bg-slate-800;
}

::-webkit-scrollbar-thumb {
  @apply rounded bg-slate-700;
}

::-webkit-scrollbar-thumb:hover {
  @apply bg-sky-400;
}

/* Hide scrollbar for horizontal scroll containers */
.hide-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.hide-scrollbar::-webkit-scrollbar {
  display: none;
}
